<section>
    <h3>When to chose this option?</h3>
    <p>When you are unsure if a certain technology is the right fit for your organisation, we can help making the decision, provide considerations and best practices learned through years of industry experience</p>
<!--    <footer>-->
<!--        <a href="#" class="button">Continue Reading</a>-->
<!--    </footer>-->
</section>
<section>
    <h3>We are consulting on the topics:</h3>
    <ul class="links">
        <li><a href="#">DevOps</a></li>
        <li><a href="#">Terraform</a></li>
        <li><a href="#">Google Cloud Platform</a></li>
        <li><a href="#">Kubernetes</a></li>
        <li><a href="#">CI/CD Pipelines</a></li>
        <li><a href="#">Automation</a></li>
        <li><a href="#">Migration</a></li>
        <li><a href="#">Scaling workloads</a></li>
        <li><a href="#">Security</a></li>
    </ul>
    <footer>
        <a href="#" class="button">Book a consultation</a>
    </footer>
        <h3>Different topic?</h3>
    <p>If you are unable to find the topic of your question in the list but you think its related - do not worry, you can still send us a message</p>
</section>
