<section>
    <h3>When to chose this option?</h3>
    <p>Maintenance focuses on the smooth running of your business and to keep your services operational.  </p>
<!--    <footer>-->
<!--        <a href="#" class="button">Continue Reading</a>-->
<!--    </footer>-->
</section>
<section>
<!--    <h3>We are consulting on the topics:</h3>-->
<!--    <ul class="links">-->
<!--        <li><a href="#">DevOps</a></li>-->
<!--        <li><a href="#">Terraform</a></li>-->
<!--        <li><a href="#">Google Cloud Platform</a></li>-->
<!--        <li><a href="#">Kubernetes</a></li>-->
<!--        <li><a href="#">CI/CD Pipelines</a></li>-->
<!--        <li><a href="#">Automation</a></li>-->
<!--        <li><a href="#">Migration</a></li>-->
<!--        <li><a href="#">Scaling workloads</a></li>-->
<!--        <li><a href="#">Security</a></li>-->
<!--    </ul>-->
<!--    <footer>-->
<!--        <a href="#" class="button">Book a consultation</a>-->
<!--    </footer>-->
        <h3>Aiming to reduce your running cost?</h3>
    <p>Once getting to know your systems, we will provide strategies which can help to keep your cost down</p>
</section>
